<footer class="footer">
    <div class="container">
        <nav class="columns v-align-middle footer-level">
            <div class="level-left footer-level">
                <div class="level-item">
                    <p class="is-5 monospace">
                        <span class="logotype title">Inkonfig</span>  by <a href="https://hexandcube.tk">Hexandcube</a><br>
                        Copyright <i class="far fa-copyright fa-xs"></i> Hexandcube 2020 <br>
                        <a href="https://paypal.me/hexandcube" target="_blank">Donate</a>
                        &middot;
                        <a href="https://hexandcube.tk/about/#pgp" target="_blank">Contact</a>
                        &middot;
                        <a href="https://github.com/hexandcube/inkonfig" target="_blank">Source code</a>
                    </p>
                </div>
            </div>
            <div class="level-right column footer-level">
                <p class="monospace">
                    <b>Made with <i class="far fa-heart"></i> in Poland</b><br>
                    Powered by <a href="https://netlify.com/?ref=hexandcube.tk">Netlify</a> and Designed with <a
                        href="https://bulma.io/?ref=hexandcube.tk">Bulma</a> <br style="margin-bottom: 5px;">
                    <%= partial "partials/shortcodes/statusbadge" %>
                </p>
            </div>
        </nav>
    </div>
</footer>