<section class="hero is-info is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="title is-1">
                        Inkonfig <span class="font-is-400">Wizard</span>
                    </h1>
                    <h2 class="subtitle">
                        A quick way to configure your Windows OS
                    </h2>
                    <span class="monospace"><b>Version:</b> <%= data.config.version %></span>
                </div>
                <div class="column">
                </div>
            </div>
        </div>
    </div>
</section>