---
title: Not found
---

<section class="section" style="padding-bottom: 0; padding-top: 20%">
  <div class="container" style="padding: 0% 0; text-align: center;">
    <h1 class="title is-1">Not found</h1>
    <p class="monospace title is-5">The page you're looking for doesn't exist</p>
    <p class="monospace" style="padding-top: 10px;">HTTP Response: 404 Not Found</p>
    <br>
    <a href="#" onclick="history.back()" class="button is-light">Go back</a>

    <a href="/" class="button is-primary is-light">Homepage</a>
    <br>

  </div>
</section>